@charset "UTF-8";
/* 
barvy

zelená: #6B856F $c-primary
logo + menu: #A0A0A0 $c-secondary
text: #282425 $c-text
šedý proužek: #D9D9D9 $c-medium
světlá patička: #EFEBEB $c-light
šedý rámeček v kontaktech: #757575 $c-dark


písmo

text: Raleway
font-family: "Raleway", serif;
font-optical-sizing: auto;

nadpisy: Playfair Display
font-family: "Playfair Display", serif;
font-optical-sizing: auto;

velikost písma
běžný text: 16px (výchozí);


*/
html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #282425;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

h1, h2, h3 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}

h2 {
  color: #6B856F;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  color: #A0A0A0;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.1rem;
}

.h3--color {
  color: #6B856F;
}

a {
  color: #6B856F;
}

.border {
  border: 2px solid #A0A0A0;
  border-radius: 3px;
}

.center {
  margin: 0 auto;
}

.content-width {
  max-width: 1200px;
}
.content-width--small {
  max-width: 1000px;
}

.margin-small {
  margin: 20px 0;
}

.margin-XS {
  margin: 5px 0;
}

.margin-left-XS {
  margin-left: 5px;
}

.margin0 {
  margin: 0;
}

.padding-bottom-small {
  padding-bottom: 20px;
}

.padding-bottom-XS {
  padding-bottom: 10px;
}

.padding-big {
  padding: 30px;
}

.padding-small {
  padding: 20px;
}

.text-small {
  font-size: 0.9rem;
  color: #757575;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__checkbox {
  position: absolute;
  left: -9999px;
}
.menu__toggler {
  cursor: pointer;
  position: relative;
  padding: 10px;
}
@media screen and (min-width: 920px) {
  .menu__toggler {
    display: none;
  }
}
.menu__list {
  display: none;
  list-style: none;
  background-color: #FAFAFA;
  opacity: 0.92;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 920px) {
  .menu__list {
    display: flex !important;
    background-color: white;
  }
}
.menu__item {
  border-bottom: 1px solid white;
}
@media screen and (min-width: 920px) {
  .menu__item {
    border-bottom: 0;
    border-right: 2px solid white;
  }
}
@media screen and (min-width: 920px) {
  .menu__item--highlight {
    border: 2px solid #A0A0A0;
    border-radius: 3px;
  }
}
.menu__link {
  display: block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #6B856F;
}
@media screen and (min-width: 920px) {
  .menu__link {
    padding: 10px;
    color: #282425;
  }
}
.menu__link:hover, .menu__link:focus, .menu__link:active {
  background-color: #D9D9D9;
}
@media screen and (min-width: 920px) {
  .menu__link:hover, .menu__link:focus, .menu__link:active {
    padding: 10px;
    border-radius: 3px;
    color: #6B856F;
  }
}
@media screen and (min-width: 920px) {
  .menu__link--highlight {
    color: #6B856F;
  }
}
.menu__checkbox:checked ~ .menu__list {
  display: block;
  position: absolute;
  right: 0;
  top: 40px;
}
@media screen and (min-width: 920px) {
  .menu__checkbox:checked ~ .menu__list {
    position: static;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: #282425 url(./../images/image-hero.jpg) no-repeat center/cover;
  color: white;
  width: 100%;
  height: 80vh;
  font-size: 1.5rem;
}
@media screen and (min-width: 890px) {
  .hero {
    font-size: 2rem;
  }
}
.hero__heading {
  margin-bottom: 0;
  text-shadow: 1px 1px 1px #282425;
}
.hero__subheading {
  text-shadow: 1px 1px 1px #282425;
}
.hero__buttons-wrapper {
  padding: 0;
}
@media screen and (min-width: 890px) {
  .hero__buttons-wrapper {
    display: flex;
    width: 450px;
  }
}

.button {
  list-style: none;
}
@media screen and (min-width: 890px) {
  .button {
    flex: 0 0 calc((100% - 20px) / 2);
  }
}
.button--position {
  text-align: center;
}
@media screen and (min-width: 890px) {
  .button--position {
    text-align: left;
  }
}
.button__link {
  display: inline-block;
  text-decoration: none;
  color: #6B856F;
  background-color: white;
  opacity: 0.9;
  padding: 10px 20px;
  text-transform: uppercase;
  border: 2px solid #A0A0A0;
  border-radius: 2px;
  font-size: 1.2rem;
}
.button__link:hover, .button__link:focus, .button__link:active {
  background-color: #D9D9D9;
}
.button__link--color-shadow {
  background-color: #FAFAFA;
  box-shadow: 2px 2px 1px #D9D9D9;
}
.button__link--small {
  padding: 5px 10px;
  font-size: 1rem;
}
@media screen and (min-width: 890px) {
  .button--size {
    font-size: 1.4rem;
  }
}

.info-line-container {
  background-color: #D9D9D9;
}

.info-line__text {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1rem;
}
@media screen and (min-width: 890px) {
  .info-line__text {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 890px) {
  .grid {
    display: grid;
    grid-template-columns: 1.2fr 1.8fr;
    gap: 20px;
  }
}
@media screen and (min-width: 890px) {
  .grid--size {
    grid-template-columns: 1.8fr 1.2fr;
  }
}
.grid__image {
  max-width: 400px;
  margin: 20px auto;
}
.grid__photo {
  width: 100%;
}

@media screen and (min-width: 890px) {
  .column-one-third {
    grid-column: 1;
  }
}
@media screen and (min-width: 890px) {
  .column-one-third--right {
    grid-column: 2;
  }
}

@media screen and (min-width: 890px) {
  .column-two-thirds {
    grid-column: 2;
  }
}
@media screen and (min-width: 890px) {
  .column-two-thirds--left {
    grid-column: 1;
  }
}

@media screen and (min-width: 720px) {
  .pictograms-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

.pictogram {
  text-align: center;
}
@media screen and (min-width: 1000px) {
  .pictogram__image {
    height: 60px;
  }
}

.glide__image {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 890px) {
  .review-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
}

.review {
  text-align: center;
}
@media screen and (min-width: 890px) {
  .review {
    flex-basis: 50%;
  }
}
.review__quote {
  color: #6B856F;
  font-size: 1.3rem;
  font-style: italic;
}
.review__link {
  font-size: 0.9rem;
}

.footer-line-container {
  background-color: #FAFAFA;
}

@media screen and (min-width: 890px) {
  .grid-footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 890px) {
  .column-first {
    grid-column: 1;
  }
}

@media screen and (min-width: 890px) {
  .column-second {
    grid-column: 2;
  }
}

@media screen and (min-width: 890px) {
  .column-third {
    grid-column: 3;
  }
}

.grid-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid-footer__follow {
  display: flex;
  width: 200px;
  justify-content: space-around;
}
.grid-footer__icon {
  flex: 1 1 calc((100% - 20px) / 3);
}
.grid-footer__contact-list {
  list-style: none;
  padding: 0;
}
.grid-footer__item-link {
  padding-left: 1.5em;
  background-repeat: no-repeat;
  background-size: 1em 1em;
  background-position: left center;
}
.grid-footer__item-link--tel {
  background-image: url(./../images/telefon-contact.svg);
}
.grid-footer__item-link--mail {
  background-image: url(./../images/mail-contact.svg);
}
.grid-footer__item-link--messenger {
  background-image: url(./../images/messenger-contact.svg);
}
.grid-footer__text {
  max-width: 300px;
}

.main-footer {
  background-color: #757575;
}
.main-footer__text {
  color: white;
  text-align: center;
}

.image-strip {
  background: #282425 url(./../images/strip-nabidka.jpg) no-repeat center/cover;
  width: 100%;
  height: 160px;
}
.image-strip--menu {
  background: #282425 url(./../images/strip-menu.jpg) no-repeat center/cover;
}
.image-strip--quiet-zone {
  background: #282425 url(./../images/strip-quiet-zone.jpg) no-repeat center/cover;
}
.image-strip--rezervace {
  background: #282425 url(./../images/strip-rezervace.jpg) no-repeat center/cover;
}
.image-strip--kontakt {
  background: #282425 url(./../images/strip-kontakt.jpg) no-repeat center/cover;
}

.wide-strip__text {
  text-align: center;
}

.content-container {
  text-align: center;
}
.content-container__text {
  font-weight: bold;
  color: #757575;
}/*# sourceMappingURL=style.css.map */