/* 
barvy

zelená: #6B856F $c-primary
logo + menu: #A0A0A0 $c-secondary
text: #282425 $c-text
šedý proužek: #D9D9D9 $c-medium
světlá patička: #EFEBEB $c-light
šedý rámeček v kontaktech: #757575 $c-dark


písmo

text: Raleway
font-family: "Raleway", serif;
font-optical-sizing: auto;

nadpisy: Playfair Display
font-family: "Playfair Display", serif;
font-optical-sizing: auto;

velikost písma
běžný text: 16px (výchozí);


*/

$c-primary: #6B856F;
$c-secondary: #A0A0A0;
$c-light: #FAFAFA;
$c-medium: #D9D9D9;
$c-dark: #757575;
$c-text: #282425;

$font-base: 'Raleway', sans-serif;
$font-special: 'Playfair Display', serif;

html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
    margin: 0;
    color: $c-text;
    font-family: $font-base;
    font-optical-sizing: auto;
}

h1, h2, h3 {
    font-family: $font-special;
    font-optical-sizing: auto;
}

h2 {
    color: $c-primary;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    color: $c-secondary;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.1rem;
}

.h3--color {
    color: $c-primary;
}

a {
    color: $c-primary;
}

.border {
    border: 2px solid $c-secondary;
    border-radius: 3px;
}

.center {
    margin: 0 auto;
}
.content-width {
    max-width: 1200px;

    &--small {
        max-width: 1000px;
    }
}

.margin-small {
    margin: 20px 0;
}

.margin-XS {
    margin: 5px 0;
}

.margin-left-XS {
    margin-left: 5px;
}

.margin0 {
    margin: 0;
}

.padding-bottom-small {
    padding-bottom: 20px;
}

.padding-bottom-XS {
    padding-bottom: 10px;
}

.padding-big {
    padding: 30px;
}
.padding-small {
    padding: 20px;
}

.text-small {
    font-size: 0.9rem;
    color: $c-dark;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {

    &__checkbox {
        position: absolute;
        left: -9999px;
    }

    &__toggler {
        cursor: pointer;
        position: relative;
        padding: 10px;

        @media screen and (min-width: 920px) {
            display: none;
        }
    }

    &__list {
        display: none;
        list-style: none;
        background-color: $c-light;
        opacity: 0.92;
        margin: 0;
        padding: 0;

        @media screen and (min-width: 920px) {
            display: flex !important;
            background-color: white;
        }
    }

    &__item {
        border-bottom: 1px solid white;

        @media screen and (min-width: 920px) {
            border-bottom: 0;
            border-right: 2px solid white;
        }

        &--highlight {

            @media screen and (min-width: 920px) {
                border: 2px solid $c-secondary;
                border-radius: 3px;
            }
        }
    }

    &__link {
        display: block;
        padding: 15px;
        text-decoration: none;
        text-transform: uppercase;
        color: $c-primary;

        @media screen and (min-width: 920px) {
            padding: 10px;
            color: $c-text;
        }

        &:hover,
        &:focus,
        &:active {
            background-color: $c-medium;

            @media screen and (min-width: 920px) {
                padding: 10px;
                border-radius: 3px;
                color: $c-primary;
                
            }
        }

        &--highlight {

            @media screen and (min-width: 920px) {
                color: $c-primary;
            }
        }

    }
    
    &__checkbox:checked ~ .menu__list {
        display: block;
        position: absolute;
        right: 0;
        top: 40px;

        @media screen and (min-width: 920px) {
            position: static;
        }
    }
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: $c-text url(./../images/image-hero.jpg) no-repeat center/cover;
    color: white;
    width: 100%;
    height: 80vh;
    font-size: 1.5rem;

    @media screen and (min-width: 890px) {
        font-size: 2rem;
    }
    

    &__heading {
        margin-bottom: 0;
        text-shadow: 1px 1px 1px $c-text;
    }

    &__subheading {
        text-shadow: 1px 1px 1px $c-text;
    }

    &__buttons-wrapper {
        padding: 0;

        @media screen and (min-width: 890px) {
            display: flex;
            width: 450px;
        }

   }    
}

.button {
    list-style: none;
    
    @media screen and (min-width: 890px) {
        flex: 0 0 calc((100% - 20px) / 2);
    }

  
    &--position {
        text-align: center;

        @media screen and (min-width: 890px) {
            text-align: left;
        }

    }

    &__link {
        display: inline-block;
        text-decoration: none;
        color: $c-primary;
        background-color: white;
        opacity: 0.9;
        padding: 10px 20px;
        text-transform: uppercase;
        border: 2px solid $c-secondary;
        border-radius: 2px;
        font-size: 1.2rem;

        &:hover,
        &:focus,
        &:active {
            background-color: $c-medium;
        }

        &--color-shadow {
            background-color: $c-light;
            box-shadow: 2px 2px 1px $c-medium;
        }

        &--small {
            padding: 5px 10px;
            font-size: 1rem;
        }
    }

    &--size {
        @media screen and (min-width: 890px) {
            font-size: 1.4rem;
        }
    }
}

.info-line-container {
    background-color: $c-medium;
}

.info-line { 

    &__text {
        text-align: center;
        text-transform: uppercase;
        font-size: 1.1rem;

        @media screen and (min-width: 890px) {
            font-size: 1.2rem;
        }
            
    }
}

.grid {

    @media screen and (min-width: 890px) {
        display: grid;
        grid-template-columns: 1.2fr 1.8fr;
        gap: 20px;
    }

    &--size {

        @media screen and (min-width: 890px) {
            grid-template-columns: 1.8fr 1.2fr;
        }
    }

    &__image {
        max-width: 400px;
        margin: 20px auto;

    }

    &__photo {
        width: 100%;
    }

}

.column-one-third {

    @media screen and (min-width: 890px) {
        grid-column: 1;
    }

    &--right {
        @media screen and (min-width: 890px) {
            grid-column: 2;
        }
    }
}

.column-two-thirds {

    @media screen and (min-width: 890px) {
        grid-column: 2;
    }

    &--left {
        @media screen and (min-width: 890px) {
            grid-column: 1;
        }
    }
}

.pictograms-wrapper {

    @media screen and (min-width: 720px) {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

.pictogram {
    text-align: center;
    
    &__image {

        @media screen and (min-width: 1000px) {
            height: 60px;
        }
    }
}

.glide__image { 
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.review-wrapper {

    @media screen and (min-width: 890px) {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
    }
}


.review {
    text-align: center;

    @media screen and (min-width: 890px) {
        flex-basis: 50%;
    }


    &__quote {
        color: $c-primary;
        font-size: 1.3rem;
        font-style: italic;    
    }

    &__link {
        font-size: 0.9rem;
    }
}

.footer-line-container {
    background-color: $c-light;
}

.grid-footer-wrapper {
    
    @media screen and (min-width: 890px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.column-first {
    @media screen and (min-width: 890px) {
        grid-column: 1;
    }
}

.column-second {
    @media screen and (min-width: 890px) {
        grid-column: 2;
    }
}

.column-third {
    @media screen and (min-width: 890px) {
        grid-column: 3;
    }
}

.grid-footer {
   display: flex;
   flex-direction: column;
   align-items: center;
   
   
   &__follow {
    display: flex;
    width: 200px;
    justify-content: space-around;
   }

   &__icon {
    flex: 1 1 calc((100% - 20px) / 3);
   }

   &__contact-list {
    list-style: none;
    padding: 0;
   }

   &__item-link {
    padding-left: 1.3em;
    background-repeat: no-repeat;
    background-size: 1em 1em;
    background-position: left center;

    &--tel {
        background-image: url(./../images/telefon-contact.svg);
    }

    &--tel-white {
        background-image: url(./../images/telefon-contact-white.svg);
    }
    &--mail {
        background-image: url(./../images/mail-contact.svg);
    }

    &--mail-white {
        background-image: url(./../images/mail-contact-white.svg);
    }

    &--messenger {
        background-image: url(./../images/messenger-contact.svg);
    }

    &--size {
        font-size: 1.2rem;
    }

   }

   &__text {
    max-width: 300px;
   }
}

.main-footer {
    background-color: $c-dark;

    &__text {
        color: white;
        text-align: center;
    }
}

.image-strip {
    background: $c-text url(./../images/strip-nabidka.jpg) no-repeat center/cover;
    width: 100%;
    height: 160px;

    &--menu {
        background: $c-text url(./../images/strip-menu.jpg) no-repeat center/cover;
    }

    &--quiet-zone {
        background: $c-text url(./../images/strip-quiet-zone.jpg) no-repeat center/cover;
    }

    &--rezervace {
        background: $c-text url(./../images/strip-rezervace.jpg) no-repeat center/cover;
    }

    &--kontakt {
        background: $c-text url(./../images/strip-kontakt.jpg) no-repeat center/cover;
    }
}

.wide-strip {
    background-color: $c-light;

    &__text {
        text-align: center;
    }
}

.content-container {
    text-align: center;
    
    &__text {
        font-weight: bold;
        color: $c-dark;
    
        &--color-text {
            color: $c-text;
        }

        &--color-primary {
            color: $c-primary;
        }
    }

}
.contact-wrapper {
    
    @media screen and (min-width: 890px) {
        display: flex;
        width: 100%;
    }
}
.contact-box {
    background-color: $c-dark;
    border-radius: 3px;
    text-align: center;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;

    &__text {
        color: white;
        
        &--main {
            font-size: 1.1rem;
            text-transform: uppercase;
        }
    }

    &__link {
        color: white;
    }

    &__variants {
        background-color: $c-secondary;
        max-width: 200px;
        border-radius: 3px;
        margin: 20px auto;
        padding: 5px;
    }

    @media screen and (min-width: 890px) {
        flex: 0 0 calc((100% - 30px) / 2);
    }
}

.map {
    max-width: 800px;
    margin: 20px auto;
    
    &__photo {
        width: 100%;      
    }
}