/* 
barvy

zelená: #6B856F $c-primary
logo + menu: #A0A0A0 $c-secondary
text: #282425 $c-text
šedý proužek: #D9D9D9 $c-medium
světlá patička: #EFEBEB $c-light
šedý rámeček v kontaktech: #757575 $c-dark


písmo

text: Raleway
font-family: "Raleway", serif;
font-optical-sizing: auto;

nadpisy: Playfair Display
font-family: "Playfair Display", serif;
font-optical-sizing: auto;

velikost písma
běžný text: 16px (výchozí);


*/

$c-primary: #6B856F;
$c-secondary: #A0A0A0;
$c-light: #FAFAFA;
$c-medium: #D9D9D9;
$c-dark: #757575;
$c-text: #282425;

$font-base: 'Raleway', sans-serif;
$font-special: 'Playfair Display', serif;

html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
    margin: 0;
    color: $c-text;
    font-family: $font-base;
    font-optical-sizing: auto;
}

h1, h2, h3 {
    font-family: $font-special;
    font-optical-sizing: auto;
}

h2 {
    color: $c-primary;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    color: $c-secondary;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.1rem;
}

a {
    color: $c-primary;
}

.border {
    border: 2px solid $c-secondary;
    border-radius: 3px;
}

.margin-small {
    margin: 20px 0;
}

.margin-XS {
    margin: 5px 0;
}

.margin0 {
    margin: 0;
}

.padding-bottom-small {
    padding-bottom: 20px;
}

.padding-bottom-XS {
    padding-bottom: 10px;
}

.padding-big {
    padding: 30px;
}
.padding-small {
    padding: 20px;
}

.text-small {
    font-size: 0.9rem;
    color: $c-dark;
}

.hero {
    background: $c-text url(./../images/image-hero.jpg) no-repeat center/cover;
    color: white;
    width: 100%;
    height: 80vh;
    padding-top: 30vh;
    padding-left: 10vw;
    font-size: 1.5rem;

    &__heading {
    margin-bottom: 0;
    }

    &__buttons-wrapper {
    padding: 0;
   }
}

.button {
    list-style: none;
    
    &--position {
        text-align: center;
    }

    &__link {
        display: inline-block;
        text-decoration: none;
        color: $c-primary;
        background-color: white;
        opacity: 0.9;
        padding: 10px 20px;
        text-transform: uppercase;
        border: 2px solid $c-secondary;
        border-radius: 2px;
    
        &:hover,
        &:focus,
        &:active {
            background-color: $c-medium;
        }

        &--color-shadow {
            background-color: $c-light;
            box-shadow: 2px 2px 1px $c-medium;
        }
    }

}

.info-line {
    background-color: $c-medium;
    

    &__text {
        text-align: center;
        text-transform: uppercase;
        font-size: 1.25rem;
    }
}

.grid__photo {
    width: 100%;
}

.grid__content {
    padding: 0 40px;
}

.pictogram {
    text-align: center;  
}

.review {
    text-align: center;

    &__quote {
        color: $c-primary;
        font-size: 1.3rem;
        font-style: italic;    
    }

    &__link {
        font-size: 0.9rem;
    }
}

.grid-footer-wrapper {
    background-color: $c-light;
}

.grid-footer {
   display: flex;
   flex-direction: column;
   align-items: center;
   
   &__follow {
    display: flex;
    width: 200px;
    justify-content: space-around;
   }

   &__icon {
    flex-basis: 1 1 calc((100% - 20px) / 3);
   }

   &__contact-list {
    list-style: none;
   }

   &__item-link {
    padding-left: 1.5em;
    background-repeat: no-repeat;
    background-size: 1em 1em;
    background-position: left center;

    &--tel {
        background-image: url(./../images/telefon-contact.svg);
    }

    &--mail {
        background-image: url(./../images/mail-contact.svg);
    }

    &--messenger {
        background-image: url(./../images/messenger-contact.svg);
    }
   }

   &__text {
    max-width: 300px;
   }
}

.main-footer {
    background-color: $c-dark;

    &__text {
        color: white;
        text-align: center;
    }
}

